body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input, select, button {
    margin: 5px;
    padding: 8px;
    width: 90%;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 5px;
}